<!DOCTYPE html>
<html lang="en">
<head>
    <title>Whack A Zombie!</title>
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/grid.css">
    <link rel="shortcut icon" href="../zombies/favicon.png" type="image/x-icon">
</head>
<body>
    <section id="welcome">
        <h1><img src="../zombies/favicon.png" alt="heading image">Whack A Zombie! </h1>
        <small>Select a zombie to get started!</small>
    </section>

    <section id="zombies">
        <div class="zombie zombie-1">
            <img src="../zombies/werewolf.png" alt="werewolf">
        </div>
        <div class="zombie zombie-2">
            <img src="../zombies/zombie.png" alt="zombie">
        </div>
        <div class="zombie zombie-3">
            <img src="../zombies/zombie2.png" alt="zombie2">
        </div>
        <div class="zombie zombie-4">
            <img src="../zombies/zombie3.png" alt="zombie3">
        </div>
        <div class="zombie zombie-5">
            <img src="../zombies/zombie4.png" alt="zombie4">
        </div>
    </section>

    <div id="whack-parent">
        <button type="button" id="whack-btn" disabled>Whack!</button>
    </div>

    <script src="../scripts/main.js"></script>
</body>
</html>